// Body
$body-bg: #ffffff;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Tamaños de fuente
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

// Colores
$color-primary: #007bff;
$color-secondary: #6c757d; 
$color-white: #ffffff;
$color-black: #000000;


a{
    text-decoration: none !important; 
}

.text-white {
    color: $color-white;
}